@main("Google clone") {

    <div class="container" id="searchContainer">

        <center class="logo">
            <div style="background:url(https://www.google.com.ua/images/srpr/logo11w.png) no-repeat;
            background-size:269px 95px;height:95px;width:269px"
            title="Google" id="hplogo" onload="window.lol&amp;&amp;lol()" align="left">
                <div nowrap=""
                style="color:#777;font-size:16px;font-weight:bold;
                position:relative;left:218px;top:70px">Clone
                </div>
            </div>
        </center>

        <div class="container">
            <input type="button" id="searchButton" class="btn btn-default" value="Search">
            <div class="search-url-container">
                <input type="text" id="searchBox" class="form-control" name="searchBox">
            </div>
        </div>

        <div class="container" id="searchResults"/>

    </div>


    <script type="application/javascript">
        $("#searchButton" ).click(function() {
            $('#searchResults').html('');
            var searchTerms = encodeURI($("#searchBox").val());
            $.ajax(
                {
    	    		type: "GET",
    	    		url: "/v1/search?searchTerms=" + searchTerms,

    	    		success: function(data) {
                        var result = data.hits.hits;

                        $.each(result, function(index, element) {
                            var el = $('<div class="searchResult"><span></span><a></a><p></p></div>');

                            $("a", el).text(element._source.title);
                            $("a", el).attr("href", element._source.url);
                            $("p", el).text(element._source.url);

                            $('#searchResults').append(el);
                        });
    	    		},

    	    		contentType:"application/json",
    	    		dataType:"json"
    	        }
    	    );
        });
    </script>

}
