@main("Google clone") {

    <input type="text" id="indexUrl" name="indexUrl">
    <input type="button" id="indexButton" value="Add to index">

    <div id="results">
    </div>

    <script type="application/javascript">
        $("#indexButton" ).click(function() {
            var indexUrl = $("#indexUrl").val();
            $.ajax(
                {
    	    		type: "POST",
    	    		url: "/v1/index?url=" + encodeURIComponent(indexUrl),

    	    		success: function(data) {
                        var el = $('<div class="searchResult"><span></span><p></p></div>');
                        $("p", el).text("Success run index for : " + $("#indexUrl").val());
                        $('#results').append(el);
    	    		}
    	        }
    	    );
        });
    </script>

}
