#indexButton, #searchButton {
    float: right;
}

.index-url-container, .search-url-container {
    overflow: hidden;
    padding-right: .5em;
}

#indexContainer, #searchContainer {
    margin-top: 50px;
}
#indexContainer > .container, #searchContainer > .container {
    width: 600px;
    padding: 40px 40px 0 40px;
}